@{

}

<h1>Add Cheese</h1>

<form method="post">
    <label>Name: 
        <input type="text" name="name" />
    </label><br />
    <label>Description:
        <textarea name="description"></textarea>
    </label><br />
    <input type ="submit" value="Add Cheese" />
</form>
