@{
}

<h1>Add Cheese</h1>

<form method="post">
    <label>Name: 
        <input type="text" name="name" required/>
    </label>
    @if (ViewBag.isInvalidInput != null && ViewBag.isInvalidInput == true)
    {
        <span>  Only alphabetic characters and spaces allowed.</span>
    }<br />
    <label>Description:
        <textarea name="description"></textarea>
    </label><br />
    <input type ="submit" value="Add Cheese" />
</form>
