@{

}

<h1>My Cheese</h1>

<p><a asp-controller="Cheese" asp-action="Add">Add Cheese</a></p>

@if (ViewBag.cheeses.Count == 0)
{
    <p>No cheeses yet!</p>
}
else
{
    <p><a asp-controller="Cheese" asp-action="Remove">Remove Cheese</a></p>

    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Description</td>
            </tr>
        </thead>
        @foreach (Cheese cheese in ViewBag.cheeses)
        {
            <tr>
                <td>@cheese.Name</td>
                @if (cheese.Description != null)
                {
                    <td>
                        @cheese.Description
                    </td>
                }
                <td><a asp-controller="Cheese" asp-action="Edit" asp-route-cheeseId="@cheese.CheeseId">Edit</a></td>
            </tr>
        }
    </table>

}