@{
}

<h1>Remove Cheese</h1>

<form method="post">
    @foreach (Cheese cheese in ViewBag.cheeseList)
    {
        <label>
            <input type="checkbox" name="cheeseSelection" value="@cheese.Name" />
            @cheese.Name
        </label><br />
    }
    <input type="submit" value="Remove" />
</form>